<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<nav class="navbar navbar-light bg-light">

    <p>Edit Employee &nbsp;&nbsp;</p>
        <a href="/employees/" class="btn btn-outline-secondary">Back to Listing</a>
    </a>
</nav>
<div class="d-flex justify-content-center">
    <div class="card w-50 my-5">
        <div class="card-body">
            <form th:action="@{/employees/update/{id}(id=${employee.id})}" th:object="${employee}" method="post">
                <div class="form-group">
                    <label for="firstName">First Name <span class="text-danger">*</span></label>
                    <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="First Name">
                    <small class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name <span class="text-danger">*</span></label>
                    <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Last Name">
                    <small class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                </div>

                <div class="form-group">
                    <label for="email">Email <span class="text-danger">*</span></label>
                    <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                    <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>